main#main{

    & section{

        padding: 3vw 0;

        &#hero{
            height: 100vh;
            background: linear-gradient(to bottom, #DDD4C5, #94B8E1, #AEA7D9);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: $medium){
                height: 80vh;
            }

            & .descriptor{
                position: absolute;
                width: 40%;
                text-align: center;
                min-width: 300px;
                top: calc(50% + 70px);
                left: 50%;
                transform: translateX(-50%) translateY(10vw);
                color: #fff;
            }
        }

        &#heroes-grid{

            min-height: 100vh;
            background: linear-gradient(to bottom, #AEA7D9, 
                rgba(#958DC3, .76) 40%, 
                rgba(#958DC3, 0) 80%);

            @media(max-width: $medium){
                min-height: unset;
            }

            & .grid-wrapper{

                display: grid;
                transform-style: preserve-3d;
                perspective: 1000px;
                width: 73.48vw;
                margin: auto;

                // border: 1px solid red;

                @media(min-width: $large){
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(6, 8vw);
                }
                
                @media(max-width: $large){
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 6.5vw repeat(6, 12vw) 6.5vw;
                }

                @media(max-width: $medium){
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                & .grid-image{

                    box-shadow: 0 0 0 2px #fff inset, 0 0 0 1px #fff;
                    transition: transform .8s, opacity .8s;
                    background-size: cover;
                    background-position: center center;
                    // height: 18vw;

                    @for $i from 1 to 20{
                        &:nth-child(#{$i}){
                            transition-delay: #{$i * .05}s;
                        }
                    }

                    @media(min-width: $large){

                        &:nth-child(1){
                            grid-column: 1 / 2;
                            grid-row: 3 / 5;
                        }

                        &:nth-child(2){
                            grid-column: 2 / 3;
                            grid-row: 2 / 4;
                        }

                        &:nth-child(3){
                            grid-column: 2 / 3;
                            grid-row: 4 / 6;
                        }

                        &:nth-child(4){
                            grid-column: 3 / 4;
                            grid-row: 1 / 3;
                        }

                        &:nth-child(5){
                            grid-column: 3 / 4;
                            grid-row: 3 / 5;
                        }

                        &:nth-child(6){
                            grid-column: 3 / 4;
                            grid-row: 5 / 7;
                        }

                        &:nth-child(7){
                            grid-column: 4 / 5;
                            grid-row: 2 / 4;
                        }

                        &:nth-child(8){
                            grid-column: 4 / 5;
                            grid-row: 4 / 6;
                        }

                        &:nth-child(9){
                            grid-column: 5 / 6;
                            grid-row: 3 / 5;
                        }
                    }

                    @media(max-width: $large){
                        
                        &:nth-child(1){
                            grid-column: 1 / 2;
                            grid-row: 2 / 4;
                        }
                        
                        &:nth-child(2){
                            grid-column: 1 / 2;
                            grid-row: 4 / 6;
                        }
                        
                        &:nth-child(3){
                            grid-column: 1 / 2;
                            grid-row: 6 / 8;
                        }

                        &:nth-child(4){
                            grid-column: 2 / 3;
                            grid-row: 1 / 4;
                        }

                        &:nth-child(5){
                            grid-column: 2 / 3;
                            grid-row: 4 / 6;
                        }

                        &:nth-child(6){
                            grid-column: 2 / 3;
                            grid-row: 6 / 9;
                        }

                        &:nth-child(7){
                            grid-column: 3 / 4;
                            grid-row: 2 / 4;
                        }

                        &:nth-child(8){
                            grid-column: 3 / 4;
                            grid-row: 4 / 6;
                        }

                        &:nth-child(9){
                            grid-column: 3 / 4;
                            grid-row: 6 / 8;
                        }

                    }

                    @media(max-width: $medium){
                        width: 50%;
                        padding-bottom: 65%;
                    }

                    @media(max-width: $small){
                        width: 100%;
                        height: 100vw;
                    }
                }

                &.invisible{

                    & .grid-image{

                        opacity: 0;
    
                        @for $i from 1 to 20{

                            &:nth-child(#{$i}){
                                transform: translateZ(random(200) + 200px);

                                @media(max-width: $medium){
                                    transform: none;
                                }
                            }
                        }
                    }
                }

                &.visible{

                    & .grid-image{
                        opacity: 1;
                        transform: none;
                    }
                }
            }
        }

        &#authors{

            & .container{

                & .author{
    
                    display: flex;
                    align-items: center;
                    transition: opacity .4s, transform .4s;
    
                    & .avatar-container{
    
                        width: 40%;
                        flex-shrink: 0;
                        
                        & .avatar{
                            display: block;
                            transition: box-shadow .4s;
                            margin-bottom: 20px;
                            background-size: cover;
                            background-position: center;
                            position: relative;
                            width: 100%;
                            padding-bottom: 100%;
    
                            &:before{
                                display: block;
                                content: '';
                                position: absolute;
                                width: 25%;
                                height: 25%;
                                bottom: 0;
                                right: 0;
                                border-radius: 50%;
                                background: #fff url(/img/insta-icon.svg) center center no-repeat;
                                background-size: 60% auto;
                                box-shadow: 0 2px 8px rgba(black, .3);
                            }
                        }
                    }

                    & .info{
                        padding-left: 20px;
    
                        & .name{
    
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }

                    &:hover{

                        & .avatar{

                            box-shadow: 0 0 0 8px #fff, 0 0 0 10px $primary;
                        }
                    }
                }
    
                & .authors{

                    & .col{

                        @for $i from 1 to 15{
                            &:nth-child(#{$i}){

                                & .author{
                                    transition-delay: #{$i * .08}s
                                }
                            }
                        }
                    }
    
                    & .author{
    
                        margin-bottom: 20px;
    
                        & .avatar-container{
    
                            @media(max-width: $extra-large){
                                width: 50%;
                            }
    
                            @media(max-width: $medium){
                                width: 40%;
                            }
                        }

                        &.invisible{

                            transform: translateY(40px);
                            opacity: 0;
                        }
            
                        &.visible{

                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
    
                & .members{
    
                    & .author{
    
                        flex-direction: column;
                        text-align: center;
                        margin-bottom: 40px;

                        & .avatar-container{
                            width: 70%;
                        }

                        @media(max-width: $extra-small){
                            flex-direction: row;

                            & .avatar-container{
                                width: 30%;

                                & .avatar{
                                    margin: 0;
                                }
                            }

                            & .info{

                                text-align: left;
                            }
                        }

                        &.invisible{
                            transform: translateY(80px);
                            opacity: 0;
                        }

                        &.visible{
                            transform: none;
                            opacity: 1;
                        }
                    }

                    & .col{

                        @for $i from 1 to 15{

                            &:nth-child(#{$i}){

                                & .author{

                                    transition-delay: #{$i * .08}s;
                                }
                            }
                        }
                    }
                }
            }

        }

        &#facts{
  
            padding-bottom: 0;

            & .parallax-container{

                height: 50vh;
                position: relative;

                & .photo-copyright{

                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #78CCC4;
                    font-weight: 300;
                }

                & .parallax{
                    padding-bottom: 50%;
                    background-size: cover;
                    background-position: center;

                    @media(max-width: $medium){
                        padding-bottom: 60%;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }

            & .link-wrapper{
                padding: 30px;
                background: $secondary;
                color: #fff;

                & h2, & p{

                    @media(min-width: $large){
                        margin: 0;
                    }
                }

                & .row{
                    margin: 0;
                    align-items: center;
                }
            }

            @media(max-width: $medium){

                & .link-wrapper{

                    & h2{
                        margin: 20px 0;
                    }

                    & .action-wrapper{
                        margin-top: 40px;
                    }
                }
            }
        }

        &#possibilities{

            $particleSize: 20vmin;
            $duration: 6s;
            $amount: 30;
            $colors: (
                #fae9ff,
                #ffffff,
                #ebf8ff,
            );

            position: relative;
            overflow: hidden;

            &:before{
                content: '';
                display: block;
                position: absolute;
                z-index: -2;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, rgba(#95BCE5, .25), rgba(#9590C6, .25));
            }

            & .bokeh-particle{

                width: $particleSize;
                height: $particleSize;
                border-radius: 50%;
                backface-visibility: hidden;
                position: absolute;
                animation: move $duration linear infinite;
                z-index: -1;

                @for $i from 1 through $amount{

                    &:nth-child(#{$i}){

                        color: nth($colors, random(length($colors)));
                        top: random(100) * 1%;
                        left: random(100) * 1%;
                        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
                        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
                        $x: if(random() > 0.5, -1, 1);
                        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
                    }
                }
            }

            & .row{

                align-items: center;

                &.possibility{

                    & .image-wrapper{

                        & .lazy{
                            transition: transform .4s, opacity .4s;
                        }
                    }

                    &.invisible{

                        & .image-wrapper{

                            & .lazy{
                                transform: scale(.7);
                                opacity: 0;
                            }
                        }
                    }
                }

                & .image-wrapper{

                    @media(max-width: $large){
                        order: -1;
                    }
                }

                & .p-action{
                    margin: 40px 0;
                }

                & .lazy{
    
                    padding-bottom: 70%;
                    background-size: cover;
                }
            }

            & hr{
                border: 0;
                border-top: 1px solid $grey;
                width: 40%;
                margin: 80px auto;

                @media(max-width: $medium){
                    margin: 25px auto;
                }
            }

            & .o-last{

                & .o-last-wrapper{
                    width: 460px;
                    margin: auto;
                }
            }
        }

        &#summary{
            background: $secondary;
            color: #fff;

            & .row{

                display: flex;
                flex-wrap: wrap;
                align-items: center;

                & .lazy{
                    padding-bottom: 60%;
                    box-shadow: 0 2px 8px rgba(black, .3);
                    background-size: cover;
                }

                & .button-wrapper{
                    margin-top: 40px;
                }
            }
        }

        &#merch{

            & .row{

                & .masha{
                    padding-bottom: 134.5%;
                    background-size: cover;
                }

                & .masha-logo{
                    padding-bottom: 20%;
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 80% auto;
                }
                
                & .bag{
                    padding-bottom: 184.5%;
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    @media(max-width: $large){
                        padding-bottom: 134.5%;
                    }

                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100px;
                        background: linear-gradient(to bottom, #fff 10%, transparent);
                    }
                }

                & .cup, & .shirts{
                    padding-bottom: 100%;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                & .text{

                    @media(max-width: $large){

                        order: 5;
                    }
                }
            }
        }
    }
}


@keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}