//= Colors ===============================================
$text: #464646;
$primary: #9590C6;
$secondary: #93B8E1;
$fogged: #7F7F7F;
$grey: #ACACAC;

// Основные цвета
$luchiki-primary: #39C76A;
$luchiki-secondary: #00a2ff;

// Цвета карточек героев
$red: #e0301c;
$yellow: #fcd62d;
$green: #029132;
$beige: #e2c1aa;

// Цвета текста
$text: #333;
$dark-text: #fff;
$fogged: #d1d1d1;